<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/static/main.css">

	<div class='page'>

		<h2> Server Rendered </h2>
		<b> Please refresh to see the change </b>
		<hr>
	<div class='row '>
		<div class='col-6'>
		
		<h4> Headers </h4>
		<ul>
		{% for key, value in request_info.headers.items() %}
			<li>{{key}}  - {{ value }}</li>
		{% else %}
			- Nothing found here -
		{% endfor %}
		</ul>
		
		</div>
		<div class='col-6'>
		<h4> Query Params </h4>

		<ul>
		{% for key, value in request_info.query_params.items() %}
			<li>{{key}}  - {{ value }}</li>
		{% else %}
			- Nothing found here -
		{% endfor %}

		</ul>
		

		<h4> Form </h4>

		<ul>
		{% for key, value in request_info.form.items() %}
			<li>{{key}}  - {{ value }}</li>
		{% else %}
			- Nothing found here -
		{% endfor %}
		</ul>
		

		<h4> Cookies </h4>
		<ul>
		{% for key, value in request_info.cookies.items() %}
			<li>{{key}}  - {{ value }}</li>
		{% else %}
			- Nothing found here -
		{% endfor %}
		</ul>
		

		<h4> Session </h4>
		<ul>
		{% for key, value in request_info.session.items() %}
			<li>{{key}}  - {{ value }}</li>
		{% else %}
			- Nothing found here -
		{% endfor %}
		</ul>
	</div>
</div>
<hr>
{% raw %}
<div id='app'>
	<div class='row'>
		<div class='col-12'>
	<h2> Dynamic: {{title}} </h2>
</div>

</div>

<div class='row'>

	<div class='col-4'>
		<h4> GET </h4>

	<p>
		Click on the button "Request" below to send ajax request to endpoint /api/ using <b>GET</b> method.
	</p>
<button class='btn btn-default' v-on:click='fetchApi()'> Request </button>

<hr>

<h4> POST </h4>
<form v-on:submit.prevent="postApi()">

	<p>
		Click on the button "Send" below to send ajax request to endpoint /api/ using <b>POST </b> method.
	</p>

	<input type='text' name='message' v-model='form.message'>
	<button class='btn btn-default' type='submit'> Send </button>
</form>


<h4> Authenticate </h4>

	<p>
		Click on the button "Authenticate" to authenticate.
	</p>
	<button class='btn btn-default' v-on:click='authenticate()'>
		Authenticate
	</button>


</div>

	<div class='col-4'>
		

		
		
		<div id='request-content'>
			<h4> XHR Request </h4>
			<pre>
				{{request}}
			</pre>
		</div>
		

		

	</div>
	<div class='col-4'>

		<div id='response-content'>
			<h4> Response Body</h4>
			<pre>
				{{response}}
			</pre>
		</div>

	</div>
</div>

{% endraw %}


</div>
</div>
<script type='text/javascript'>


$(document).ready(function(){

	$.ajaxSetup({
    beforeSend: function (event, xhr, options) {
        var request_info = JSON.stringify(xhr, null, 2);
	    $(document).trigger("requestSent", request_info);
	    }
	    
	});


	var app = new Vue({
  	el: '#app',
  	data: {
    	title: 'Vue Powered',
    	response: '',
    	request: '',
    	form: {
    		message: ''
    	},
    	login:{
    		username: '',
    		password: ''
    	}
  	},
  	mounted: function(){
  		var that = this;
  		$(document).on("requestSent", function(event, requestInfo){
  			that.request = requestInfo;
  		});

  	},
  	methods: {
  		fetchApi: function(){
  			console.log('fetching api');
  			var that = this;
  			var params = {name: 'get-request', ts: Date.now(), dt: Date().toString()};

  			$.get( "/api/", params, function( data ) {
			  that.response = JSON.stringify(JSON.parse(data), null, 2);
			});
  		},
  		postApi: function(){
  			var that = this;
  			$.post("/api/", that.form, function(data, status){
		        that.response = JSON.stringify(JSON.parse(data), null, 2);
		    });
  		},
  		authenticate: function(){
  			alert("todo");
  		}
  	}
	});

});



</script>
</body>
</html>